amqp==2.1.4
appdirs==1.4.3
appnope==0.1.0
aspy.yaml==0.2.2
backports.shutil-get-terminal-size==1.0.0
bandit==1.4.0
billiard==3.5.0.2
boltons==16.1.1
brotlipy==0.6.0
cached-property==1.3.0
ced==0.0.7
celery==4.0.2
certifi==2017.1.23
cffi==1.10.0
click==6.7
coverage==4.3.4
cycler==0.10.0
Cython==0.27.3
dask==0.14.1
decorator==4.0.11
dj-database-url==0.4.2
Django==2.0.1
django-cors-headers==2.1.0
django-countries==5.0
django-js-reverse==0.8.1
django-log-request-id==1.3.2
django-model-utils==2.6.1
django-naomi==0.8
django-redis==4.8.0
django-webpack-loader==0.5.0
django-widget-tweaks==1.4.1
dotmap==1.2.20
enum34==1.1.6
flake8==2.6.2
flake8-putty==0.4.0
gitdb2==2.0.0
GitPython==2.1.3
gunicorn==19.7.1
ipython==6.2.1
ipython-genutils==0.2.0
isort==4.2.5
jedi==0.11.1
joblib==0.11
kombu==4.0.2
line-profiler==2.1.2
matplotlib==2.1.2
mccabe==0.5.3
model-mommy==1.3.2
networkx==1.11
nodeenv==1.1.2
numpy==1.14.0
olefile==0.44
opbeat==3.6.0
packaging==16.8
parso==0.1.1
pathlib2==2.2.1
pbr==2.0.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.0.0
pre-commit==0.13.6
progress==1.3
prompt-toolkit==1.0.14
psycopg2==2.7.1
ptyprocess==0.5.1
pycodestyle==2.0.0
pycparser==2.17
pydub==0.20.0
pyflakes==1.2.3
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-decouple==3.0
python-speech-features==0.6
pytz==2016.10
PyYAML==3.12
redis==2.10.5
requests==2.13.0
safety==1.1.1
scandir==1.5
scipy==1.0.0
simplegeneric==0.8.1
six==1.10.0
smmap2==2.0.1
stevedore==1.21.0
termcolor==1.1.0
toolz==0.8.2
traitlets==4.3.2
tzlocal==1.4
urllib3==1.20
vine==1.1.3
virtualenv==15.1.0
wcwidth==0.1.7
whitenoise==3.3.0
